* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Drummer';
  src: url('./shared/font/Eugene\ Bunin\ -\ Drummer\ Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}